name: Deploy Overleaf Organization (VM Local)

on:
  push:
    branches: [main]
  workflow_dispatch:

jobs:
  deploy:
    runs-on: self-hosted 

    steps:
      - name: Sincronizzazione File
        run: |
          # Andiamo nella cartella definitiva dei dati
          cd /home/aletheialab/overleaf
          
          # Ci assicuriamo che la cartella sia una directory git valida
          git fetch origin main
          git reset --hard origin/main

      - name: Avvio Docker
        run: |
          cd /home/aletheialab/overleaf
          # Usiamo docker senza sudo (visto che abbiamo aggiunto l'utente al gruppo docker)
          docker compose pull
          docker compose up -d --build

      - name: Cleanup
        run: docker image prune -f
